{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block content %}

    <div class="text-center">
        <h3>Últimas fotos</h3>
    </div>
    <a href="{% url 'index' %}" class="text-light mb-5">
        <small>Retornar</small>    
    </a>

    {% for p in pontos %}

    <div class="card p-3 mb-3">
        <div class="card-title">
            <h5>Data: {{ p.data }}</h5>
            <p>Mat: {{ p.matricula }} | Aves no local: {{ p.aves }}</p>
        </div>
        <div class="card-body text-center">
            <img src="{{ p.foto.url }}" width="280">
        </div>
    </div>

    {% endfor %}

    {% endblock %}
