{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block content %}

    <div class="blank"></div>
    <div class="loading">
        <img src="{% static 'img/load.gif' %}" alt="gif de carregamento">
    </div>

    <form method="post" action="" enctype="multipart/form-data" class="text-center mt-2" autocomplete="off">

        {% csrf_token %}

        {% bootstrap_form form %}

        <div type="" class="mb-5" id="capturar"></div>

        <div class="message">{% bootstrap_messages %}</div>

        {% buttons %}
        <button class="btn btn-primary mt-2 salvar w-100 text-bold enviar">Enviar</button>
        {% endbuttons %}        

        <a href="{% url 'historico' %}" class="text-light mb-5">
            <small>Histórico</small>
        </a>

    </form>

    <script>

        $(".blank").hide();
        $(".loading").hide();

        $("#id_matricula").attr("type", "number");
        $("#id_matricula").attr("placeholder", "");
        $("#id_matricula").attr("min", "1");
        $("#id_matricula").attr("max", "999999");

        $("#id_foto").hide();

        $("#id_foto").attr("capture", "camera");

        $("#capturar").on("click", function (){
            $("#id_foto").trigger("click");
        })

        $(".enviar").on("click", function (){
            if (
                parseInt($("#id_matricula").val()) > 0 &&
                parseInt($("#id_matricula").val()) <= 999999 &&
                $("#id_matricula").val() != "" &&
                $("#id_aves").val() != "" &&
                $("#id_foto").val() != ""
            ) {
                $(".blank").show();
                $(".blank").css({
                    "position": "absolute",
                    "left": "0",
                    "top": "0",
                    "width": "100vw",
                    "height": "100vh",
                    "backgroundColor": "rgba(255,255,255,0.4)"

                });

                $(".loading").show();
                $(".loading").css({
                    "position": "absolute",
                    "left": "32%",
                    "top": "30%",
                    "z-index": "999999"
                })
            }
        })

        $("#id_foto").on("change", function () {
            $("#capturar").css("backgroundColor", "#007bff");
        })

    </script>

    {% endblock %}