{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block content %}

    <div class="text-center mb-5">
        <a href="{% url 'index' %}" class="text-light mb-5">
            <small>Retornar</small>
        </a>
    </div>

    <h3>Registro nº {{ foto.id }}</h3>
    <p>
        Matrícula: {{ foto.matricula }} <br>
        Data|Hora: {{ foto.data }} <br>
        Aves no local: {{foto.aves }} <br>
        Localização: {{ foto.latitude }}, {{ foto.longitude }}
    </p>

    <div class="text-center">
        {% if foto.foto %}
            <img src="{{ foto.foto.url }}">
        {% endif %}
    </div>

    {% endblock %}