{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block content %}

    <div class="text-center mb-5">        
        <a href="{% url 'index' %}" class="text-light mb-5">
            <small>Retornar</small>    
        </a>
    </div>

    <h2>Registro nº {{ foto.id }}</h2>
    <h5>Matrícula: {{ foto.matricula }} - Data|Hora: {{ foto.data }}</h5> 
    <h5>Localização: {{ foto.latitude }}, {{ foto.longitude }}</h5>   

    {% if p.foto %}
        <img src="{{ foto.foto.url }}">
    {% endif %}

    {% endblock %}